apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: klub-ada
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: klub-ada
    newName: rg.fr-par.scw.cloud/djnd/klub-ada
    newTag: 'cbbcdde28306e4c03741b3ea1d6c553fc26e9e95'