:root {
  --color-light: #FAFAFA;
  --color-dark: #231F20;
  --color-red: #FF5757;
  --color-red-light: #FDE4E4;
  --color-blue: #77A4D4;
  --color-yellow: #FBB040;
  --color-pink: #FF85A5;
}

/* semantic color variables for this project */
:root {
  --color-background: #F7EFE9;

  --color-border: var(--color-dark);
  /* --color-border-hover: var(--vt-c-divider-light-1); */

  --color-heading: var(--color-red);
  --color-text: var(--color-dark);

  /* --section-gap: 160px; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s
    background-color 0.5s;
  line-height: 1.3;
  font-family: 'Anaheim';
  font-weight: normal;
  font-size: 22px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: 500;
}

h1, h2, h3 {
  font-family: Courier, monospace;
  font-weight: 500;
}

.button {
  border: 2px solid var(--color-dark);
  border-radius: 8px;
  background-color: var(--color-red);
  color: var(--color-light);
  padding: 12px 40px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

.color-lighter {
  opacity: 0.7;
}

.short-divider {
  width: 66px;
  height: 4px;
  border: none;
  opacity: 1;
  background-color: var(--color-red);
}

#mlb2-9478951.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody.ml-form-embedBodyHorizontal {
  padding: 0;
}

#mlb2-9478951.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}
